.form {
  padding: 2% 15%;
}

.tablet {
  display: none;
}

.form__progress-bar-title {
  padding: 10% 0%;
}

.form__progress-bar-background {
  height: 5px; 
  background-color: #fffefe; 
  border-radius: 5px; 
}

.form__progress-bar-line {
  height: 100%;
  background-color: #0ac213;
}

.form__input {
  padding: 10% 0%;
}

.form__input input {
    width: 100%;
    border: none;
    padding-block: 6%;
    padding-inline: 3%;
    font-size: 16px;
    margin-top: 10%;
    color: black
}

.form__input .custom-datepicker {
  min-width: 120%;
}

.form .form__footer {
  text-align: center;
  padding: 20% 0%;
}

.form .form__footer .form__footer_p {
  font-size: 12px;
  padding: 10% 0%;
}

input::placeholder {
    color: black;
    font-style: italic;
}

.form .error {
  color: red;
  font-style: italic;
}

.valid-button {
  margin: 8% 0%;
  background-color: #0ac213;
  color: white;
  width: 105%;

}

.invalid-button {
  margin: 8% 0%;
  background-color: grey; 
  width: 105%;
  color: white; 
}

.popup {
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  padding: 10% 0%;
  border-radius: 10px;
  margin: 10% 0%;
  background-color: #0ac213;
  color: white;
}

/* smaller tablets - wider mobile */

@media (min-width: 410px) {

  .tablet {
    display: block;
  }

  .form__progress-bar-title {
    padding: 5% 0%;
  }
  
  .form__progress-bar-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .form__progress-bar-grid-item {
    padding: 0% 5%;
  }

  .form__progress-bar-background {
    height: 5px; 
    background-color: #fffefe; 
    border-radius: 5px;
  }
  
  .form__progress-bar-line {
    height: 100%;
    background-color: #0ac213;
  }


  .form__input input {
    max-width: 300px;
  }

  .form__input .custom-datepicker {
    min-width: 160%;
  }
}

/* tablet 768px */
@media (min-width: 768px) {
  
}