.coins {
    padding: 0% 16%;
    background-color: black;
}

.coins__card {
    background-color: hsl(0, 0%, 22%);
    border-radius: 5%;
    border: 0.3px solid white;
    padding: 3% 6%;
    /* display: flex;
    flex-direction: column; */
}

.coins__item {
    padding: 3% 0%;
    /* display: flex;
    flex-direction: column; */
    /* gap: 15%; */
}

.coins__item_top {
    background-color: hsl(0, 0%, 22%);
    display: flex;
    flex-direction: row;
    gap: 5%;
    align-items: center;
    padding: 3% 0%;
}

.coins__item_top img {
    background-color: hsl(0, 0%, 22%);
    width: 25px;
    height: 25px;
}

.coins__item_top .coins__item_top_symbol {
    background-color: hsl(0, 0%, 22%);
}

.coins__item_top_symbol {
    font-size: 12.2px;
    font-weight: 500;
}

.coins__item_top_name {    
    background-color: #FFF8D6;
    font-size: 7.84px;
    font-weight: 500;
    color: black;
    border-radius: 10%;
    padding-inline: 5%;
    padding-block: 2%;
}

.coins__item hr {
    width: 98%;
}

.coins__item_price {
    background-color: hsl(0, 0%, 22%);
    padding: 5% 0%;
    font-size: 17.43px;
    font-weight: 700;
}

.IoIosArrowDropupCircle {
    width: 8px;
    height: 11px;
}