@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');

*
{
    margin: 0;
    padding: 0;
    background-color: blanchedalmond;
    html,
    body
    {
        /* overflow: hidden; */
        font-family: 'Roboto', sans-serif;
        button {
            font-family: 'Bebas Neue', cursive;
            background-color: #29A643;
        }    
        .icon-image {
            width: 35px;
            height: 35px;
        }
    }
}



