.splash {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 22% 10%;
    background-color: black;
}

.splash__title {
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 8%;
}

.splash__info1 {
    font-size: 28px;
    font-weight: 400;
    text-align: center;
    padding-bottom: 10%;
}

.splash__info1 span {
    font-weight: 700;
}

.splash__info2 {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    padding-bottom: 10%;
}

.splash__info2 span {
    font-weight: 700;

}

.splash__button {
    padding-bottom: 3%;
    width: 100%;
    padding-bottom: 10%;
}

.splash__button button {
    background-color: #29A643;
}

.splash__note {
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 10%;
}

.splash__footer {
    font-size: 12px;
    font-weight: 400;
    text-align: center;
}