.gallery__container {
    background-color: #f0f0f0;
    padding: 15% 0%;
}

.gallery {
    overflow-x: auto;
    white-space: nowrap; 
    padding: 0% 2%;
  }

  .gallery__title {
    color: black;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    padding: 3% 0%;
  }

  .gallery__inner {
    display: inline-flex;
    padding: 5% 0%;
    justify-content: center;
    align-items: center;
  }

  .gallery__inner svg path {
    color: #959595;
  }

  .gallery__inner svg {
    font-size: 55px;
  }

.gallery__inner_arrow {
    color: black
}

  .card {
    width: 90px; 
    height: 90px; 
    background-color: #d5d5d5;
    margin-right: 1%;
    margin-left: 1%;
    color: black;
    border: 2px solid white;
  }